{% extends 'chat/base.html' %}
{% load static %}

{% block title %}Chat {{ user.first_name }}{% endblock %}

{% block content %}
<div class="chat-area">
    <div class="chat-area-header">
        <div class="chat-area-group">
            <img class="chat-area-profile" src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png" alt="" />
            <div class="chat-area-title">{{ user.first_name }}</div>
        </div>
    </div>
    <div class="chat-area-main">
        {% for message in messages %}
      
          {% if message.from_chat == 'user' %}
        <div class="chat-msg">
          
        {% elif message.from_chat == 'bot' %}
        <div class="chat-msg owner">
          {% endif %}
          
            <div class="chat-msg-profile">
                <div class="chat-msg-date">
                  {{ message.created_at }}
                </div>
            </div>
            <div class="chat-msg-content">
              {% if message.message_type == 'photo' %}
                <div class="chat-msg-text">
                    <img src="{{ message.get_file_url }}" loading="lazy"/><br>
               {% if message.message_text %}
                  {{ message.message_text }}
                {% endif %}
                </div>
               
              {% elif message.message_type == 'file' %}
                  <div class="chat-msg-text"><h3><a href="{{ message.get_file_url }}"> Document</a></h3><br>   
                {% if message.message_text %}
                  {{ message.message_text }}
                {% endif %}
                </div>
               
              {% else %}
                <div class="chat-msg-text">{{ message.message_text }}</div>
              {% endif %}
            </div>
        </div>
      
        {% endfor %}
    </div>
    <div class="chat-area-footer">
       
        <!-- Image icon -->
      <div id="imageInputDiv" style="width: 35px; height: 20px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image">
            <rect x="3" y="3" width="18" height="18" rx="2" ry="2" />
            <circle cx="8.5" cy="8.5" r="1.5" />
            <path d="M21 15l-5-5L5 21" />
        </svg>
      </div>
      
        <!-- Attach button -->
      <div id="fileInputDiv" style="width: 35px; height: 20px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-paperclip">
            <path d="M21.44 11.05l-9.19 9.19a6 6 0 01-8.49-8.49l9.19-9.19a4 4 0 015.66 5.66l-9.2 9.19a2 2 0 01-2.83-2.83l8.49-8.48" />
        </svg>
        </div>
      <input class="file-imput" id="fileInput" type="file" style="display: none;"/>
     <input class="image-imput" id="imageInput" type="file" accept="image/*" style="display: none;"/>
     
        <!-- Textarea for message input -->
        <textarea id="message-textarea" placeholder="Xabar yozing..." minlength="2" style="width: 85%;"></textarea>

        <!-- Send message button -->
        <div id="send-message-btn" class="send-message-btn" data-user-id="{{ user.user_id }}" data-len_msg="{{ len_msg }}">
          <img class="buttons" style="width: 30px; height: 30px" src="https://avatars.mds.yandex.net/i?id=83e31a6a426880ad24116139518787f485939b708b4a4652-10779417-images-thumbs&n=13"
        </div>
    </div>
</div>

<!-- CSRF Token -->
{% csrf_token %}

<!-- JavaScript Faylini Ulash -->
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}